<div *ngIf="isAdmin">
    <p class="text-center mt-3 mb-1 fs-3 fw-semibold">Admin Dashboard</p>
    <p class="dashboard-subtitle text-center fs-5">
        Manage house listings, view user activities, and keep the platform running smoothly.
      </p>
  <p class="text-center text-muted mb-4">
    Use the navigation bar to add or edit properties, manage users.
  </p>
      
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-10 m-auto mt-2">
                    <div class="carousel slide" id="mycard" data-bs-ride="carousel" data-bs-interval="3000">
                        <div class="carousel-indicators">
                            <button class="active" data-bs-target="#mycard" data-bs-slide-to="0"></button>
                            <button  data-bs-target="#mycard" data-bs-slide-to="1"></button>
                            <button  data-bs-target="#mycard" data-bs-slide-to="2"></button>
                            <button  data-bs-target="#mycard" data-bs-slide-to="3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://images.pexels.com/photos/1571460/pexels-photo-1571460.jpeg?cs=srgb&dl=pexels-fotoaibe-1571460.jpg&fm=jpg" alt="" class="d-block w-100">
                                <div class="carousel-caption">
                                    <!-- <p class="text-white fs-2">Image 1</p> -->
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://plus.unsplash.com/premium_photo-1676823547752-1d24e8597047?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aG91c2UlMjBpbnRlcmlvcnxlbnwwfHwwfHx8MA%3D%3D" alt="" class="d-block w-100">
                                <div class="carousel-caption">
                                    <!-- <p class="text-white fs-2">Image 2</p> -->
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://media.istockphoto.com/id/1456467039/photo/beautiful-living-room-and-kitchen-in-new-luxury-home-with-white-cabinets-wood-beams-pendant.jpg?s=612x612&w=0&k=20&c=x_ZXg6o_H6Bsww7Vr8126nXnNJULmYKABuXS3sc8qqE=" alt="" class="d-block w-100">
                                <div class="carousel-caption">
                                    <!-- <p class="text-white fs-2">Image 3</p> -->
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://static.wixstatic.com/media/bf8702_d3b29b47d41242649a80a01163e65df3~mv2.jpg/v1/fill/w_754,h_522,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/bf8702_d3b29b47d41242649a80a01163e65df3~mv2.jpg" alt="" class="d-block w-100">
                                <div class="carousel-caption">
                                    <!-- <p class="text-white fs-2">Image 4</p> -->
                                </div>
                        </div>
                        <button class="carousel-control-prev" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#mycard" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
    <button routerLink="/admin/manage" class="btn btn-primary">Manage Houses</button>
    </div>
</div>
  
  <div *ngIf="!isAdmin">
    <p class="text-center mt-3 mb-1 fs-3 fw-semibold">User Dashboard</p>
  
  <!-- Main  Heading -->
  <h2 class="text-center mt-1">Welcome to EasyRent, Your Trusted Home Rental Partner!</h2>
  <p class="text-center text-muted mb-4">
    Discover curated listings, save your favorites, and find your dream home — all in one place.
  </p>
  
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-10 m-auto mt-2">
                    <div class="carousel slide" id="mycard" data-bs-ride="carousel" data-bs-interval="3000">
                        <div class="carousel-indicators">
                            <button class="active" data-bs-target="#mycard" data-bs-slide-to="0"></button>
                            <button  data-bs-target="#mycard" data-bs-slide-to="1"></button>
                            <button  data-bs-target="#mycard" data-bs-slide-to="2"></button>
                            <button  data-bs-target="#mycard" data-bs-slide-to="3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://images.pexels.com/photos/1571460/pexels-photo-1571460.jpeg?cs=srgb&dl=pexels-fotoaibe-1571460.jpg&fm=jpg" alt="" class="d-block w-100">
                                <div class="carousel-caption">
                                    <!-- <p class="text-white fs-2">Image 1</p> -->
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://plus.unsplash.com/premium_photo-1676823547752-1d24e8597047?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aG91c2UlMjBpbnRlcmlvcnxlbnwwfHwwfHx8MA%3D%3D" alt="" class="d-block w-100">
                                <div class="carousel-caption">
                                    <!-- <p class="text-white fs-2">Image 2</p> -->
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://media.istockphoto.com/id/1456467039/photo/beautiful-living-room-and-kitchen-in-new-luxury-home-with-white-cabinets-wood-beams-pendant.jpg?s=612x612&w=0&k=20&c=x_ZXg6o_H6Bsww7Vr8126nXnNJULmYKABuXS3sc8qqE=" alt="" class="d-block w-100">
                                <div class="carousel-caption">
                                    <!-- <p class="text-white fs-2">Image 3</p> -->
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://static.wixstatic.com/media/bf8702_d3b29b47d41242649a80a01163e65df3~mv2.jpg/v1/fill/w_754,h_522,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/bf8702_d3b29b47d41242649a80a01163e65df3~mv2.jpg" alt="" class="d-block w-100">
                                <div class="carousel-caption">
                                    <!-- <p class="text-white fs-2">Image 4</p> -->
                                </div>
                        </div>
                        <button class="carousel-control-prev" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#mycard" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="d-flex justify-content-center">
    <button routerLink="/user/browse" class="btn btn-primary d-flex justify-content-between mt-3">Browse Houses</button>
    </div>
  </div>
  