<div *ngIf="house" class="container mt-4">
  <h2>{{ house.title }}</h2>
    <!-- <img [src]="house.image" alt="" height="200px" width="400px" > -->
    <div id="houseCarousel" class="carousel slide medium-carousel" data-bs-ride="carousel" data-bs-interval="3000">
      <div class="carousel-inner">
        <div
          *ngFor="let img of house.image; let i = index"
          class="carousel-item"
          [class.active]="i === 0"
        >
          <img [src]="img" class="d-block w-100" alt="House Image" />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#houseCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#houseCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="d-flex justify-content-center mt-3">
    <button class="btn btn-outline-danger mt-2" (click)="addToWishlist()">
      <i class="fas fa-heart"></i> Add to Wishlist
    </button>
  </div>

    
    <!-- <h2>{{ house.title }}</h2> -->
    <p><strong>Location:</strong> {{ house.location }}</p>
    <p><strong>Price:</strong> ₹{{ house.price }}</p>
    <p><strong>Description:</strong> {{ house.description }}</p>
    
</div>


<!-- <div id="houseCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div
      *ngFor="let img of house.image; let i = index"
      class="carousel-item"
      [class.active]="i === 0"
    >
      <img [src]="img" class="d-block w-100" alt="House Image" />
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#houseCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#houseCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->



<!-- <div *ngIf="house; else notFound" class="container mt-4">
  <h2>{{ house.title }}</h2>
  <p><strong>Location:</strong> {{ house.location }}</p>
  <p><strong>Price:</strong> ₹{{ house.price }}</p>
  <p><strong>Description:</strong> {{ house.description }}</p>

  <div *ngIf="house.image && house.image.length">
    <h5>Images:</h5>
    <div class="row">
      <div class="col-md-4 mb-3" *ngFor="let img of house.image">
        <img [src]="img" alt="House Image" class="img-fluid rounded">
      </div>
    </div>
  </div>
</div>

<ng-template #notFound>
  <p>House not found.</p>
</ng-template> -->



